.vs/
bin/
obj/
[Dd]ebug/
[Rr]elease/
[Ll]og/
[Ll]ogs/
publish/
artifacts/
packages/
!packages/build/

*.keystore
*.jks
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
*.p12
*.pfx
*.cer
*.mobileprovision
*.env
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.apk
*.aab
*.apkarchive
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.tmp
*.cache
*.log
*.swp
*~
*.DS_Store
*Thumbs.db
*desktop.ini

appsettings.*.local.json
secrets.json
.env
.DS_Store	
/GENAP_MAUI/ResXManager.config.xml
